/* Global styling */
body {
    font-family:'Monserrat', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header */
header {
    position: sticky;
    top: 0;
    z-index: 1000; 
    background: #563768;  /* Dark background for the navbar */
    color: #fff;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); /* Adding some shadow for effect */
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    display: inline;
    margin-right: 15px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main content styling */
main {
    padding: 20px;
}

/* Footer */
footer {
    background: #563768;  /* Same as the header color */
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

/* Responsive styling for better mobile experience */
@media (max-width: 768px) {
    header ul li {
        display: block;
        margin-bottom: 10px;
    }
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    color: #d1b5e5; /* Adjust hover color if needed */
}

