{% extends 'base.html' %}

{% block title %}Apply - Aurora Executive Placement Consultant{% endblock %}

{% block content %}
<section>
    <div class="container-sm" style="text-align:center">
        <h2 style="font-weight: bold;">Candidate Form</h2>
        <p>Upload your resume and fill out the form.</p>
    </div>

    {% if job %}
    <div class="card mb-3" style="max-height: 150px; max-width: 774px; margin-left:260px;">
        <div class="row g-0">
            <div class="col-md-3">
                <img src="{{ job.job_poster.url }}" class="card-img-top" style="max-height: 150px; max-width: 150px;" alt="Job Poster">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight:bold;"> {{ job.title }}</h5>
                    <p class="card-text text-muted">
                        <i class="bi bi-geo-alt-fill"></i> {{ job.location }}</br>
                        <i class="bi bi-circle-fill" style="font-size:10px; margin-left:2px; margin-right:2px;"></i> {{ job.seniority_level }}</br>
                        <i class="bi bi-suitcase-lg-fill"></i> {{ job.industry }} / {{ job.sub_industry }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    <div class="container-sm" style="max-width:800px;">
        <form id="upload-resume-form" method="POST" enctype="multipart/form-data" class="mb-4" action="{% if job %}{% url 'apply' job.id %}{% else %}{% url 'upload_resume' %}{% endif %}">
            {% csrf_token %}

            {% if job %}
            <input type="hidden" name="job_id" value="{{ job.id }}">
            {% endif %}

            <div class="mb-3">
                <label for="cv" class="form-label">Upload CV (PDF/Word): </label>
                <input type="file" name="cv" id="cv" class="form-control" accept=".pdf" required>
            </div>
    
            <div class="mb-3">
                <label for="name" class="form-label mb-0">Full Name <span style="color:red;">*</span></label>
                <input type="text" name="name" id="name" class="form-control" required>
    
                <label for="email" class="form-label mt-3 mb-0">Email Address: <span style="color:red;">*</span></label>
                <input type="email" name="email" id="email" class="form-control" required>
    
                <label for="phone_number" class="form-label mt-3 mb-0">Phone Number: <span style="color:red;">*</span></label>
                <input type="tel" name="phone_number" id="phone_number" class="form-control" required>

                <label for="linkedin_url" class="form-label mt-3 mb-0">LinkedIn Profile (Optional):</label>
                <input type="url" name="linkedin_url" id="linkedin_url" class="form-control">
    
                <label for="address" class="form-label mt-3 mb-0">Address: <span style="color:red;">*</span></label>
                <input type="text" name="address" id="address" class="form-control">

                <label for="degree" class="form-label mt-3 mb-0">Degree: <span style="color:red;">*</span></label>
                <select id="degree" name="degree" class="form-select" required>
                    <option value="" selected disabled>Select your degree</option>
                    <option value="Diploma">Diploma Degree</option>
                    <option value="Associate">Associate Degree</option>
                    <option value="Bachelor">Bachelor's Degree</option>
                    <option value="Master">Master's Degree</option>
                    <option value="PhD">PhD (Doctorate)</option>
                    <option value="Other">Other (please specify)</option>
                </select>

                <input
                    type="text"
                    id="other-degree"
                    name="other_degree"
                    class="form-control mt-2"
                    placeholder="Specify your degree"
                    style="display: none;"
                    required
                >
    
                <label for="major" class="form-label mt-3 mb-0">Major: <span style="color:red;">*</span></label>
                <input type="text" name="major" id="major" class="form-control" required>
    
                <label for="gpa" class="form-label mt-3 mb-0">GPA: <span style="color:red;">*</span></label>
                <input type="text" name="gpa" id="gpa" class="form-control" required>
    
                <label for="college_name" class="form-label mt-3 mb-0">College Name: <span style="color:red;">*</span></label>
                <input type="text" name="college_name" id="college_name" class="form-control" required>

                <label for="curr_salary" class="form-label mt-3 mb-0">Current Salary (Optional):</label>
                <input type="number" step="0.01" name="curr_salary" id="curr_salary" class="form-control">
            
                <label for="expected_salary" class="form-label mt-3 mb-0">Expected Salary (Optional):</label>
                <input type="number" step="0.01" name="expected_salary" id="expected_salary" class="form-control">
            
                <label for="skills" class="form-label mt-3 mb-0">Skills <span style="color:red;">*</span></label>
                <textarea name="skills" id="skills" class="form-control" rows="3" required></textarea>
            </div>
    
            <div id="add-experience-section">
                <br>
                <div class="container p-0">
                    <div class="row d-flex justify-content-between">
                        <h5 class="col-auto" style="font-weight: bold; text-align: left;">Add Work Experience</h5>
                        <button type="button" id="add-experience-button" class="btn btn-success mb-3 col-auto">Add Experience</button>
                    </div>
                </div>
                <div id="experience-list"></div>

                <div class="mb-3" id="add-experience-form">
                    <label for="company_name" class="form-label mb-0">Company Name:</label>
                    <input type="text" name="company_name" id="company_name" class="form-control">

                    <label for="position" class="form-label mt-3 mb-0">Position:</label>
                    <input type="text" name="position" id="position" class="form-control">

                    <label for="industry" class="form-label mt-3 mb-0">Industry:</label>
                    <input type="text" name="industry" id="industry" class="form-control">

                    <div class="container text-center p-0">
                        <div class="row">
                            <div class="col" style="text-align: left;">
                                <label for="start_date" class="form-label mt-3 mb-0">Start Date:</label>
                                <input type="month" name="start_date" id="start_date" class="form-control">
                            </div>
                            <div class="col" style="text-align: left;">
                                <label for="end_date" class="form-label mt-3 mb-0">End Date:</label>
                                <input type="month" name="end_date" id="end_date" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;">
                                <input type="checkbox" name="present" id="present" class="form-check-input align-bottom mb-1">
                                <label for="present" class="form-label mt-3 mb-0">Currently Working (Present)</label>
                            </div>
                        </div>
                    </div>

                    <label for="description" class="form-label mt-3 mb-0">Description:</label>
                    <textarea name="description" id="description" class="form-control" rows="4"></textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" style="background: #563768;">Submit</button>
        </form>
    </div>

    <div id="response-message"></div>
</section>

<script>
    let experiences = [];

    document.getElementById('upload-resume-form').addEventListener('submit', function (e) {
        e.preventDefault();

        const companyName = document.getElementById('company_name').value.trim();
        const position = document.getElementById('position').value.trim();
        const industry = document.getElementById('industry').value.trim();
        const startDate = document.getElementById('start_date').value.trim();
        const startDateFormatted = `${startDate}-01`;
        const endDate = document.getElementById('end_date').value.trim();
        const endDateFormatted = endDate ? `${endDate}-01` : null;
        const description = document.getElementById('description').value.trim();

        if (companyName || position || industry || startDate) {
            experiences.push({ companyName, position, industry, startDate: startDateFormatted, endDate: endDateFormatted, description });

            ['company_name', 'position', 'industry', 'start_date', 'end_date', 'description'].forEach(id => {
                document.getElementById(id).value = '';
            });
        }

        const formData = new FormData(this);
        formData.append("experiences", JSON.stringify(experiences));

        fetch(this.action, {
            method: "POST",
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            const errorsContainer = document.getElementById('response-message');
            errorsContainer.innerHTML = '';

            if (data.success) {
                alert(data.message);
                window.location.href = '/';
            } else {
                const errors = JSON.parse(data.errors);
                let errorMessages = '';
                for (let field in errors) {
                    errorMessages += `${field}: ${errors[field][0].message}\n`;
                }
                alert(errorMessages);
                renderExperienceList();
            }
        }).catch(error => console.error('Error:', error));
    });

    document.getElementById('add-experience-button').addEventListener('click', function () {
        const companyName = document.getElementById('company_name').value.trim();
        const position = document.getElementById('position').value.trim();
        const industry = document.getElementById('industry').value.trim();
        const startDate = document.getElementById('start_date').value.trim();
        const startDateFormatted = `${startDate}-01`;
        const endDate = document.getElementById('end_date').value.trim();
        const endDateFormatted = endDate ? `${endDate}-01` : null;
        const description = document.getElementById('description').value.trim();

        if (!companyName || !position || !industry || !startDate) {
            alert('Please fill in all required fields for experience.');
            return;
        }

        const newExperience = { companyName, position, industry, startDate: startDateFormatted, endDate: endDateFormatted, description };
        experiences.push(newExperience);

        renderExperienceList();

        ['company_name', 'position', 'industry', 'start_date', 'end_date', 'description'].forEach(id => {
            document.getElementById(id).value = '';
        });
    });

    function renderExperienceList() {
        const experienceList = document.getElementById('experience-list');
        experienceList.innerHTML = '';

        experiences.forEach((experience, index) => {
            const experienceItem = document.createElement('div');
            experienceItem.classList.add('mb-3');
            experienceItem.innerHTML = `
                <strong>${experience.companyName} - ${experience.position}</strong><br>
                <p class="m-0 p-0">${experience.position}</p>
                <em>${experience.startDate} to ${experience.endDate || 'Present'}</em><br>
                <p>${experience.description}</p>
                <button type="button" class="btn btn-danger delete-experience" data-index="${index}">Delete</button>
            `;

            experienceList.appendChild(experienceItem);

            experienceItem.querySelector('.delete-experience').addEventListener('click', function () {
                deleteExperience(index);
            });
        });
    }

    function deleteExperience(index) {
        experiences.splice(index, 1);
        renderExperienceList();
    }

    document.getElementById('degree').addEventListener('change', function () {
        const otherDegreeInput = document.getElementById('other-degree');
        if (this.value === 'Other') {
            otherDegreeInput.style.display = 'block';
            otherDegreeInput.required = true;
        } else {
            otherDegreeInput.style.display = 'none';
            otherDegreeInput.value = '';
            otherDegreeInput.required = false;
        }
    });
</script>
{% endblock %}